{% extends "layout.html" %}
{% block title %}Efe's Page{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add tweet page</title>
<link rel="stylesheet" href="/static/style.css" />
</head>

<body>
<br><br><br>
<a href="/">Return to homepage</a>

<form action="/tweetsPage/addTweet" method="POST">
	<font size="4" color="red">Add tweet</font>

	<h1> Tweet: </h1>
	<input type="text" name="CONTENT" >
	<input type="submit" name="add_tweet" value="Tweet it!" />
</form>

</body>
</html>

{% endblock %}
