<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <h1>Hello, ITUCSDB1625!</h1>
    
    <ul>
	    <li><a href="/samplecommit">Another page 1</a></li>
    </ul>
	  <ul>
	    <li><a href="/samplecommit2">Another page 2 - Berkay</a></li>
    </ul>
	  
	 <ul>
	    <li><a href="/samplecommit3">Another page 3 - Efe</a></li>
    </ul>
	
	 <ul>
	    <li><a href="/samplecommit4">Another page 4 - Emre</a></li>
    </ul>
    
	<a href="http://s05.flagcounter.com/more/wkp"><img src="http://s05.flagcounter.com/countxl/wkp/bg_FFFFFF/txt_000000/border_CCCCCC/columns_8/maxflags_250/viewers_0/labels_0/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a>

    <footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
  </body>
</html>
