{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <h1>Hello, ITUCSDB1625</h1>
    
    <ul>
	    <li> Login page will come here. </li>
    </ul>
    
	<a href="http://s05.flagcounter.com/more/wkp"><img src="http://s05.flagcounter.com/countxl/wkp/bg_FFFFFF/txt_000000/border_CCCCCC/columns_8/maxflags_250/viewers_0/labels_0/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a>

    <footer>
      <div id="footertext">Footer Text</div>
    </footer>
{% endblock %}

