<!DOCTYPE html>
<html>
<title>NewTwitter</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>
    <div class="w3-row">
        <div class="w3-container w3-indigo">
            <h1>NewTwitter</h1>
        </div>

        </div>
        <div class="w3-third w3-container" style="max-width: 350px">
            <div id="login" class="w3-container w3-margin-top tab w3-animate-opacity">
                <form action="{{ url_for('userops.page_login') }}" method = "POST" class="w3-container w3-card-4">
                    <p>
                        <input class="w3-input" type="text" name="usermail" style="width:90%" required>
                        <label class="w3-label w3-validate">E-mail</label>
                    </p>
                    <p>
                        <input class="w3-input" type="password" name="userpass" style="width:90%" required>
                        <label class="w3-label w3-validate">Password</label>
                    </p>
                    <p>
                        <button class="w3-btn w3-section w3-teal w3-ripple"> Log in </button>
                    </p>
                </form>
                <p>Do you not have an account? <a href="javascript:void(0)" onclick="changeTab('signup')">Sign Up</a></p>
            </div>
            <div id="signup" class="w3-container w3-margin-top tab w3-animate-opacity">
                <h2 name="headertext"></h2>
                <form class="w3-container w3-card-4" action="{{ url_for('userops.page_signup') }}"  method = "POST" >
                    <p>
                        <input class="w3-input" type="text" style="width:90%" name="email" required>
                        <label class="w3-label w3-validate">E-mail</label>
                    </p>
                    <p>
                        <input class="w3-input" type="text" style="width:90%" name="firstname" required>
                        <label class="w3-label w3-validate">First Name</label>
                    </p>
                    <p>
                        <input class="w3-input" type="text" style="width:90%" name="lastname" required>
                        <label class="w3-label w3-validate">Last Name</label>
                    </p>
                    <p>
                        <input class="w3-input" type="phonenumber" style="width:90%" name="phonenumber" required>
                        <label class="w3-label w3-validate">Phone Number</label>
                    </p>
                    <p>
                        <input class="w3-input" type="password" style="width:90%" name="password" required>
                        <label class="w3-label w3-validate">Password</label>
                    </p>
                    <p>
                        <input class="w3-input" type="password" style="width:90%" name="password2" required>
                        <label class="w3-label w3-validate">Password (Again)</label>
                    </p>
                    <p>
                        <input class="w3-radio" type="radio" name="gender" value="male" checked><label class="w3-validate">Male</label>
                         <input class="w3-radio" type="radio" name="gender" value="female"><label class="w3-validate">Female</label>
                         <input class="w3-radio" type="radio" name="gender" value="other"><label class="w3-validate">Other</label>
                    </p>
                    <p>
                        <button type="submit" name="submit" value="register" class="w3-btn w3-section w3-teal w3-ripple"> Sign up </button>
                    </p>
                </form>
                <p>Already have an account? <a href="javascript:void(0)" onclick="changeTab('login')">Login</a></p>
            </div>
            <script>
                changeTab("login");
                function changeTab(tab) {
                    var i;
                    var x = document.getElementsByClassName("tab");
                    for (i = 0; i < x.length; i++) {
                       x[i].style.display = "none";
                    }
                    document.getElementById(tab).style.display = "block";
                }
                function testfunction()
                {

                if(document.getElementsByName('email')[0].value.indexOf('@')!=-1)
                {

                }
                else
                {

                var welcomemessage=document.getElementsByName('email')[0].value + " is not a valid email address :(" ;
                document.getElementsByName("headertext")[0].innerHTML=welcomemessage;
                document.getElementsByName('submit')[0].disabled="true";
                setTimeout(function(){location.reload();},3000);
                }

                if(document.getElementsByName('password')[0].value == document.getElementsByName('password2')[0].value)
                {

                }
                else
                {
                var welcomemessage="Passwords do not match. Please type the same password :(" ;
                document.getElementsByName("headertext")[0].innerHTML=welcomemessage;
                document.getElementsByName('submit')[0].disabled="true";
                setTimeout(function(){location.reload();},3000);
                }

                if(document.getElementsByName('password')[0].value == document.getElementsByName('password2')[0].value)
                {
                if(document.getElementsByName('password')[0].value.length <5)
                {
                var welcomemessage="Password is so short. Should be more than 5 characters :(" ;
                document.getElementsByName("headertext")[0].innerHTML=welcomemessage;
                document.getElementsByName('submit')[0].disabled="true";
                setTimeout(function(){location.reload();},3000);

                }
                }



                var re = /^[A-Za-z]+$/;
                if(re.test(document.getElementsByName('firstname')[0].value) && re.test(document.getElementsByName('lastname')[0].value) && document.getElementsByName('firstname')[0].value.length>3 && document.getElementsByName('lastname')[0].value.length>3 )
                {

                }
                else
                {

                var welcomemessage=document.getElementsByName('firstname')[0].value +" " + document.getElementsByName('lastname')[0].value + " is not a valid name/lastname :(" ;
                document.getElementsByName("headertext")[0].innerHTML=welcomemessage;
                document.getElementsByName('submit')[0].disabled="true";
                setTimeout(function(){location.reload();},3000);
                }

                var re = /^[0-9]+$/;
                if(re.test(document.getElementsByName('phonenumber')[0].value) && document.getElementsByName('phonenumber')[0].value.length > 5)
                {

                }
                else
                {

                var welcomemessage=document.getElementsByName('firstname')[0].value +" " + document.getElementsByName('lastname')[0].value + " is not a valid name/lastname :(" ;
                document.getElementsByName("headertext")[0].innerHTML=welcomemessage;
                document.getElementsByName('submit')[0].disabled="true";
                setTimeout(function(){location.reload();},3000);
                }





                setTimeout(function(){
                var welcomemessage=document.getElementsByName('firstname')[0].value + " " +document.getElementsByName('lastname')[0].value+ " Has Joined to the Twitter Mini" ;
                document.getElementsByName("headertext")[0].innerHTML=welcomemessage;},3000);

                }

            </script>

        </div>
    </div>
    <br>


</body>
</html>
