<!DOCTYPE html>
<html>
<title>NewTwitter</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>
    <div class="w3-row">
        <div class="w3-container w3-indigo">
            <h1>NewTwitter</h1>
        </div>
        
        </div>
        <div class="w3-third w3-container" style="max-width: 350px">
            <div id="login" class="w3-container w3-margin-top tab w3-animate-opacity">
                <form action="{{ url_for('userops.page_login') }}" method = "POST" class="w3-container w3-card-4">
                    <p>
                        <input class="w3-input" type="text" name="usermail" style="width:90%" required>
                        <label class="w3-label w3-validate">E-mail</label>
                    </p>
                    <p>
                        <input class="w3-input" type="password" name="userpass" style="width:90%" required>
                        <label class="w3-label w3-validate">Password</label>
                    </p>
                    <p>
                        <button class="w3-btn w3-section w3-teal w3-ripple"> Log in </button>
                    </p>
                </form>
                <p>Do you not have an account? <a href="{{ url_for('userops.page_signup') }}">Sign Up</a></p>
            </div>
            
        </div>
    </div>
    <br>

    
</body>
</html>