{% extends "layout.html" %}
{% block title %}Admin User Page{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8" />
	<title>Sample Commit Page</title>
	<link rel="stylesheet" href="/static/style.css" />
</head>

<body>
	<h2 name="headertext">Admin Panel to manage Database</h2>
	<form>
	<table border="1px">
		<tr>
			
			<th>ID</th>
			<th>Email</th>
			<th>Name</th>
			<th>Lastname</th>
			<th>Phone Number</th>
			<th>Password</th>
			<th>Gender</th>
			<th></th>
			<th></th>
		</tr>
		{% for user in users %}
		
		<tr>
			
			
			<td>{{user[0]}}</td>
			<td>{{user[1]}}</td>
			<td>{{user[2]}}</td>
			<td>{{user[3]}}</td>
			<td>{{user[4]}}</td>
			<td>***</td>
			<td>{{user[6]}}</td>
			
			<form action="{{ url_for('user_select') }}" method = "POST">
			<td>	
			<button type="submit" name="idtoselect" id={{user[0]}} value={{user[0]}}>Update</button>
			</td>
			</form>
			<td>	
			<form action="{{ url_for('user_delete') }}" method = "POST">
			<button type="submit" name="idtodelete" id={{user[0]}} value={{user[0]}}>Delete</button>
			</form>
			</td>
			
			
		</tr>
		
		</form>
		{% endfor %}
		
	</table>
	
</form>




<br>




	
	
	
	
</body>	
	

<script>



</script>
	
	
{% endblock %}



