{% extends "layout.html" %}
{% block title %}Emre's Page{% endblock %}
{% block content %}

<h2 name="headertext">Settings</h2>

<button class="accordion">General</button>
	
<div class="panel">
  <h3>There is nothing to see</h3>
</div>
	<button class="accordion">Password</button>
<div class="panel">
  
</div>

<button class="accordion">Security and Privacy</button>
<div class="panel">
  <h3>There is nothing to see</h3>
</div>

<button class="accordion">Language</button>
<div class="panel">
  <h3>There is nothing to see</h3>
</div>


<button class="accordion">Language</button>
<div class="panel">
  <h3>There is nothing to see</h3>
</div>

<button class="accordion">Blocking</button>
<div class="panel">
  <h3>There is nothing to see</h3>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
  }
}
</script>
{% endblock %}
