{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
	<h2>Profile</h2>
	
	<img class="profilePic" src="https://camo.githubusercontent.com/3710f56c06ed6afdc6245f142511bb57874991bb/687474703a2f2f7777772e77656264657664657369676e65722e636f6d2f696d672f6d696e69747769747465722e6a7067" alt="Profile Picture">
	<h3>Emre Kuru</h3>
	<p>Computer Engineering Student</p>
	<li><a href="{{ url_for('followers_page') }}">followers</a></li>
    <li><a href="{{ url_for('following_page') }}">following</a></li>
	
	<h4>Notifications</h4>
	{% if notifications %}
	
	{% for notification in notifications %}
	
	<table width="800px">
	
			<tr>
			<td>
				{{notification[0]}} {{notification[1]}}, {{notification[2]}} your tweet at {{notification[3]}}. This notification is {{notification[4]}}.  			          	
			</td>
			<td style="text-align:right">
			<form action="{{ url_for('notifications.notification_update') }}" method = "POST">
			<button type="submit" name="idtoupdate" onclick=testfunction() id={{notification[5]}} value={{notification[5]}}>Seen</button> </form>
			</td>
			<td style="text-align:right">
			
			<form action="{{ url_for('notifications.notification_delete') }}" method = "POST">
			<button type="submit" name="idtodelete" onclick=testfunction() id={{notification[5]}} value={{notification[5]}}>Delete</button>	
			</form>
			</td>
			
			
	</tr>
	{% endfor %}
	</table>
	
    {% else %}
    <h4>No notification yet</h4>
    {% endif %}
    
    
   

{% endblock %}

