{% extends "layout.html" %}
{% block title %}Efe's Page{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8" />
	<title>Efe Helvacı</title>
	<link rel="stylesheet" href="/static/style.css" />
</head>

<body>
	<h2>Page of Efe Helvacı</h2>

<form action="/tweetsPage" method="POST">
	<font size="4" color="red">Add tweet</font>
	<h5>If you are not logged in, your tweets will not be posted.</h5>
	<h1>Tweet: </h1>
	<input type="text" name="CONTENT" >
	<input type="submit" name="add_tweet" value="Tweet it!" />

	<br><br>

	<table width="1000">
		<tr>
			<th></th>
			<th>Name</th>
			<th>Surname</th>
			<th>Tweet</th>
			<th>Date</th>
		</tr>
		{% for tweet in tweets %}
		<tr>
			<td height="50"><input type="radio" name="options" id={{tweet[4]}} value={{tweet[4]}}></input></td>
			<td>{{tweet[0]}}</td>
			<td>{{tweet[1]}}</td>
			<td width="50%">{{tweet[2]}}</td>
			<td>{{tweet[3]}}</td>
			<td>
			<form action="{{ url_for('notification_like') }}" method = "POST">			  
        	<button type="submit" name="idtoinsert" onclick=testfunction() id={{tweet[0]}} value={{tweet[0]}}>Like</button>
        	</form>    
    		</td>
    		<td>
			<form action="{{ url_for('notification_retweet') }}" method = "POST">			  
        	<button type="submit" name="idtoinsert" onclick=testfunction() id={{tweet[0]}} value={{tweet[0]}}>Retweet</button>
        	</form>    
    		</td>
		</tr>
		{% endfor %}
	</table>

	<br>
	<input type="submit" name="delete_tweet" value="Delete Selected Tweet"><br>
	<input type="submit" name="update_tweet" value="Update Selected Tweet">
</form>

</body>

</html>

{% endblock %}